<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Learning Vue</title>
		<script src="https://unpkg.com/vue@3.0.2"></script>
		<style>
			body {
				background: #eee;
				max-width: 960px;
				margin: 20px auto;
			}
			p,
			h3,
			ul {
				margin: 0;
				padding: 0;
			}
			li {
				list-style-type: none;
				background: #fff;
				margin: 20px auto;
				padding: 10px 20px;
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			li.fav {
				background: #ff9ed2;
				color: white;
			}
		</style>
	</head>
	<body>
		<h1>Hello, Vue :)</h1>
		<!-- Notes about the lesson
       By "dynamic classes" we mean when we conditionally give elements certain classes based on certain conditions
	   e.g we can evaluate 'books' arrau and give a certain class to 'book' property based on isFav property true or false value
        -->
		<!-- Controlled by Vue starts -->
		<div id="app">
			<!-- Attribute Binding -->
			<!-- href is an attribute , its value is "http//www.thenetninja.co.uk", what if I wan tot have it dynamic?-->
			<!-- <a href="http//www.thenetninja.co.uk">Best website ever</a> -->
			<!-- Dynamic version -->
			<!-- "http//www.thenetninja.co.uk" is put as a value in 'url' data property in app.js -->
			<!-- in order for a value in href, we need to do data (attribute) binding -->
			<!-- We do data binding by using v-bind:href where 'href' is an attribute the dynamica value is attached to -->
			<!-- Or we can use :href instead of v-bind:href -->
			<!-- 'url' is a data property in app.js -->
			<!-- <a v-bind:href="url">Best website ever</a> -->

			<!-- Another example of attribute binding -->

			<div v-if="showBooks">
				<!-- <p>{{ books[0].title }} - {{ books[0].author }}</p>
				<p>{{ books[1].title }} - {{ books[1].author }}</p>
				<p>{{ books[2].title }} - {{ books[2].author }}</p> -->
				<!-- Instead of the above use v-for below -->
				<ul>
					<!-- 'book' can be called 'item' whatever else , 'books' is a name of an array property from 'app.js'-->
					<!-- :class == v-bind:class -->
					<!-- class="fav" is added only if 'is Fav' property set to true -->
					<li
						v-for="book in books"
						:class="{fav: book.isFav}"
						@click="toggleFav(book)"
					>
						<img :src="book.img" :alt="book.title" />
						<h3>{{ book.title }}</h3>
						<p>{{ book.author}}</p>
					</li>
				</ul>
			</div>
			<!-- Uses DOM by injecting and removing DOM elements, it is expensive, not advisable-->
			<button @click="toggleShowBooks">
				<!-- Good case to use for Login/Register showing, something it doesn't get changed very often -->
				<span v-if="showBooks">Hide Books</span>
				<!-- <span v-if="!showBooks">Show Books</span> -->
				<!-- OR -->
				<span v-else>Show Books</span>
			</button>
			<br />
			<!-- mouse events -->
			<!-- Passing in "our own", or custom argument 5 which will be used as a parameter in app.js , handleEvents(e) where 'e' is 5. But it gives us undefined in console. But when we have $event as a first argument, and 5 as a second, all is working. With empty function =handleEvents, handleEvents function automatically uses (e) object as parameter/argument-->
			<div class="box" @mouseover="handleEvents($event, 5)">
				mouseover (enter)
			</div>
			<div class="box" @mouseleave="handleEvents">mouseleave</div>
			<div class="box" @dblclick="handleEvents">doubleclick</div>
			<div class="box" @mousemove="handleMousemove">
				position {{ x }} {{ y }}
			</div>
		</div>
		<!-- Controlled by Vue ends -->
		<script src="app.js"></script>
	</body>
</html>
